In [3]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report
import pandas as pd

In [4]:


emails = pd.read_csv("spam.csv", encoding='latin-1')

In [5]:
emails.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [6]:
emaildf=emails.drop('Unnamed: 2',axis=1)

In [7]:
emaildf=emaildf.drop('Unnamed: 4',axis=1)

In [8]:
emaildf=emaildf.drop('Unnamed: 3',axis=1)

In [9]:
emaildf

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [10]:
emaildf.isna().sum()

v1    0
v2    0
dtype: int64

In [11]:
emaildf.rename(columns={
    'v1': 'spam_or_ham',
    'v2': 'message'
}, inplace=True)

In [12]:
emaildf

     spam_or_ham                                            message
0            ham  Go until jurong point, crazy.. Available only ...
1            ham                      Ok lar... Joking wif u oni...
2           spam  Free entry in 2 a wkly comp to win FA Cup fina...
3            ham  U dun say so early hor... U c already then say...
4            ham  Nah I don't think he goes to usf, he lives aro...
...          ...                                                ...
5567        spam  This is the 2nd time we have tried 2 contact u...
5568         ham              Will Ì_ b going to esplanade fr home?
5569         ham  Pity, * was in mood for that. So...any other s...
5570         ham  The guy did some bitching but I acted like i'd...
5571         ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [13]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
emaildf['spam_or_ham']= le.fit_transform(emaildf['spam_or_ham'])
emaildf

      spam_or_ham                                            message
0               0  Go until jurong point, crazy.. Available only ...
1               0                      Ok lar... Joking wif u oni...
2               1  Free entry in 2 a wkly comp to win FA Cup fina...
3               0  U dun say so early hor... U c already then say...
4               0  Nah I don't think he goes to usf, he lives aro...
...           ...                                                ...
5567            1  This is the 2nd time we have tried 2 contact u...
5568            0              Will Ì_ b going to esplanade fr home?
5569            0  Pity, * was in mood for that. So...any other s...
5570            0  The guy did some bitching but I acted like i'd...
5571            0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [14]:
emaildf['spam_or_ham'].value_counts()

spam_or_ham
0    4825
1     747
Name: count, dtype: int64

In [15]:
text_data = emaildf['message']
labels = emaildf['spam_or_ham']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(text_data, labels, test_size=0.2, random_state=42)

In [17]:


vectorizer = CountVectorizer()
X_train_vectorized = vectorizer.fit_transform(X_train)
X_test_vectorized = vectorizer.transform(X_test)

In [18]:
nb_classifier = MultinomialNB()
nb_classifier.fit(X_train_vectorized, y_train)

MultinomialNB()

In [19]:
y_pred = nb_classifier.predict(X_test_vectorized)

In [20]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9838565022421525

In [21]:
print("Classification Report:\n", classification_report(y_test, y_pred, target_names=["ham", "spam"]))

Classification Report:
               precision    recall  f1-score   support

         ham       0.98      1.00      0.99       965
        spam       0.99      0.89      0.94       150

    accuracy                           0.98      1115
   macro avg       0.98      0.95      0.96      1115
weighted avg       0.98      0.98      0.98      1115

In [22]:
def vec(email):
    
    preprocessed_email = email.lower()  # Convert to lowercase
    vectorized_email = vectorizer.transform([preprocessed_email])
    return vectorized_email

In [23]:
my_email="Congratulations you won a free gift!"
vec_my_email=vec(my_email)
vec_my_email

<1x7735 sparse matrix of type '<class 'numpy.int64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [24]:
p1 = nb_classifier.predict(vec_my_email)

In [25]:
p1

array([1])